#frm-geocode
  position absolute
  bottom 20px
  left 10px
  background white
  padding 5px 10px
  float left
  outline 2px solid rgba(0,0,0,0.2)
  label
    float left
    clear left
  .inputs
    float left
    clear left
    padding-top 3px
  input
    float left
  input:last-child
    margin-left 8px
